/*
Global Styles
*/

body {
  height: 100vh;
}

#map {
   position:absolute;
   top:0;
   bottom:0;
   width:100%;
 }

/*
Custom Styles
*/

ul.nav-list li {
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px
}
